*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;

}

body{
    color: #fff;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 15px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: transparent;
    transition: 0.4s ease;
    z-index: 1000;

}

nav.scrolled{
     background: rgba(0,0,0,0.8);
     backdrop-filter: blur(10px);
     box-shadow: 0 5px 15px rgba(0,0,0,0.4);
}

.logo{
    font-size: 26px;
    font-weight: 600;
    color: #00ffd5;
}

.menu{
    list-style: none;
    display: flex;
    gap: 30px;
}

.menu li a{
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    position: relative;
    transition: color 0.3s ease;

}

.menu li a::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 0;
    height: 3px;
    background: linear-gradient(90deg,#00ffd5,#00b4d8);
    transition: width 0.3s ease;
}

.menu li a:hover::after{
    width:100%;
}

section{
    height:100vh;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

}

#home{
    background: linear-gradient(135deg,#1d3557,#457b9d);
}

#about{
    background: linear-gradient(135deg,#3a0ca3,#7209b7);
}

#services{
    background: linear-gradient(135deg,#006466,#065a60);
}

#contact{
    background: linear-gradient(135deg,#4a148c,#880e4f);
}

section h1{
    font-size: 48px;
    margin-bottom: 15px;
}

section p{
    font-size: 18px;
    max-width: 700px;
}
