* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #1f2933;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: #ffffff;
    padding: 20px;
    width: 420px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0,0,0,0.3);
}

h1 {
    text-align: center;
    margin-bottom: 15px;
}

.task-input {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
    align-items: center;
}

.task-input input {
    padding: 8px;
    flex: 1;
}

.task-input button {
    padding: 8px 12px;
    background: #2563eb;
    color: white;
    border: none;
    cursor: pointer;
    white-space: nowrap;
}

.task-input button:hover {
    background: #1e40af;
}

ul {
    list-style: none;
}

li {
    background: #f1f5f9;
    margin-bottom: 8px;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.completed {
    text-decoration: line-through;
    color: gray;
}

.task-info {
    flex: 1;
}

.task-actions button {
    margin-left: 5px;
    padding: 4px 6px;
    border: none;
    cursor: pointer;
}

.complete-btn {
    background: #22c55e;
    color: white;
}

.edit-btn {
    background: #eab308;
    color: white;
}

.delete-btn {
    background: #ef4444;
    color: white;
}
.add-btn {
    width: 100%;
    height: 45px;
    background: #2563eb;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.add-btn:hover {
    background: #1e40af;
}
